<section>
    <h2 data-bind="html: displayName"></h2>
    <a href="#add">Add</a>
    <div class="row-fluid">
        <ul class="thumbnails" data-bind="foreach: items">
            <li>
                <a class="beer-summary" data-bind="attr: { href : '#beer/' + beerId }">
                    <h3 data-bind="text: name"></h3>
                    <div>
                        <small>Brewery: <span data-bind="text: brewery"></span></small>
                    </div>
                    <div class="beer-delete">
                        <span class="fa fa-times"></span> Delete
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>